/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-25T12:23:21.276369  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WebUiPropsAPIService WebUiPropsAPI service
type WebUiPropsAPIService service

type ApiCreateOrUpdateWebUiPropsRequest struct {
	ctx context.Context
	ApiService *WebUiPropsAPIService
	webuipropname string
	getTransactionTypes200ResponseTransactionTypesInnerId *GetTransactionTypes200ResponseTransactionTypesInnerId
}

// Request body
func (r ApiCreateOrUpdateWebUiPropsRequest) GetTransactionTypes200ResponseTransactionTypesInnerId(getTransactionTypes200ResponseTransactionTypesInnerId GetTransactionTypes200ResponseTransactionTypesInnerId) ApiCreateOrUpdateWebUiPropsRequest {
	r.getTransactionTypes200ResponseTransactionTypesInnerId = &getTransactionTypes200ResponseTransactionTypesInnerId
	return r
}

func (r ApiCreateOrUpdateWebUiPropsRequest) Execute() (*CreateWebUiProps200Response, *http.Response, error) {
	return r.ApiService.CreateOrUpdateWebUiPropsExecute(r)
}

/*
CreateOrUpdateWebUiProps Create or Update WebUiProps

<p>Create or Update a WebUiProps.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>This endpoint is idempotent - it will create the property if it doesn't exist, or update it if it does.<br />
The property is identified by WEBUI_PROP_NAME in the URL path.</p>
<p>Explanation of Fields:</p>
<ul>
<li>WEBUI_PROP_NAME in URL path (must start with <code>webui_</code>, contain only alphanumeric characters, underscore, and dot, not exceed 255 characters, and will be converted to lowercase)</li>
<li>value is required String value in request body</li>
</ul>
<p>The line break and double quotations should be escaped, example:</p>
<pre><code>
{&quot;name&quot;: &quot;webui_some&quot;, &quot;value&quot;: &quot;this value
have &quot;line break&quot; and double quotations.&quot;}

</code></pre>
<p>should be escaped like this:</p>
<pre><code>
{&quot;name&quot;: &quot;webui_some&quot;, &quot;value&quot;: &quot;this value\nhave \&quot;line break\&quot; and double quotations.&quot;}

</code></pre>
<p>Insert image examples:</p>
<pre><code>// set width=100 and height=50
{&quot;name&quot;: &quot;webui_some_pic&quot;, &quot;value&quot;: &quot;here is a picture &lt;img alt=&quot;hello&quot; src=&quot;http://somedomain.com/images/pic.png&quot; width=&quot;100&quot; height=&quot;50&quot; /&gt;&quot;}

// only set height=50
{&quot;name&quot;: &quot;webui_some_pic&quot;, &quot;value&quot;: &quot;here is a picture &lt;img alt=&quot;hello&quot; src=&quot;http://somedomain.com/images/pic.png&quot; width=&quot;&quot; height=&quot;50&quot; /&gt;&quot;}

// only width=20%
{&quot;name&quot;: &quot;webui_some_pic&quot;, &quot;value&quot;: &quot;here is a picture &lt;img alt=&quot;hello&quot; src=&quot;http://somedomain.com/images/pic.png&quot; width=&quot;20%&quot; height=&quot;&quot; /&gt;&quot;}

</code></pre>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">WEBUI_PROP_NAME</a>: WEBUI_PROP_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>
<p><a href="/glossary#">source</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param webuipropname The WEBUIPROPNAME identifier
 @return ApiCreateOrUpdateWebUiPropsRequest
*/
func (a *WebUiPropsAPIService) CreateOrUpdateWebUiProps(ctx context.Context, webuipropname string) ApiCreateOrUpdateWebUiPropsRequest {
	return ApiCreateOrUpdateWebUiPropsRequest{
		ApiService: a,
		ctx: ctx,
		webuipropname: webuipropname,
	}
}

// Execute executes the request
//  @return CreateWebUiProps200Response
func (a *WebUiPropsAPIService) CreateOrUpdateWebUiPropsExecute(r ApiCreateOrUpdateWebUiPropsRequest) (*CreateWebUiProps200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateWebUiProps200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebUiPropsAPIService.CreateOrUpdateWebUiProps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/management/webui_props/{webuipropname}"
	localVarPath = strings.Replace(localVarPath, "{"+"webuipropname"+"}", url.PathEscape(parameterValueToString(r.webuipropname, "webuipropname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getTransactionTypes200ResponseTransactionTypesInnerId == nil {
		return localVarReturnValue, nil, reportError("getTransactionTypes200ResponseTransactionTypesInnerId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.getTransactionTypes200ResponseTransactionTypesInnerId
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateWebUiPropsRequest struct {
	ctx context.Context
	ApiService *WebUiPropsAPIService
	createTransactionRequestCounterparty200ResponseAttributesInner *CreateTransactionRequestCounterparty200ResponseAttributesInner
}

// Request body
func (r ApiCreateWebUiPropsRequest) CreateTransactionRequestCounterparty200ResponseAttributesInner(createTransactionRequestCounterparty200ResponseAttributesInner CreateTransactionRequestCounterparty200ResponseAttributesInner) ApiCreateWebUiPropsRequest {
	r.createTransactionRequestCounterparty200ResponseAttributesInner = &createTransactionRequestCounterparty200ResponseAttributesInner
	return r
}

func (r ApiCreateWebUiPropsRequest) Execute() (*CreateWebUiProps200Response, *http.Response, error) {
	return r.ApiService.CreateWebUiPropsExecute(r)
}

/*
CreateWebUiProps Create WebUiProps

<p>Create a WebUiProps.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>Explaination of Fields:</p>
<ul>
<li>name is required String value</li>
<li>value is required String value</li>
</ul>
<p>The line break and double quotations should do escape, example:</p>
<pre><code>
{&quot;name&quot;: &quot;webui_some&quot;, &quot;value&quot;: &quot;this value
have &quot;line break&quot; and double quotations.&quot;}

</code></pre>
<p>should do escape like this:</p>
<pre><code>
{&quot;name&quot;: &quot;webui_some&quot;, &quot;value&quot;: &quot;this value\nhave \&quot;line break\&quot; and double quotations.&quot;}

</code></pre>
<p>Insert image examples:</p>
<pre><code>// set width=100 and height=50
{&quot;name&quot;: &quot;webui_some_pic&quot;, &quot;value&quot;: &quot;here is a picture &lt;img alt=&quot;hello&quot; src=&quot;http://somedomain.com/images/pic.png&quot; width=&quot;100&quot; height=&quot;50&quot; /&gt;&quot;}

// only set height=50
{&quot;name&quot;: &quot;webui_some_pic&quot;, &quot;value&quot;: &quot;here is a picture &lt;img alt=&quot;hello&quot; src=&quot;http://somedomain.com/images/pic.png&quot; width=&quot;&quot; height=&quot;50&quot; /&gt;&quot;}

// only width=20%
{&quot;name&quot;: &quot;webui_some_pic&quot;, &quot;value&quot;: &quot;here is a picture &lt;img alt=&quot;hello&quot; src=&quot;http://somedomain.com/images/pic.png&quot; width=&quot;20%&quot; height=&quot;&quot; /&gt;&quot;}

</code></pre>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>
<p><a href="/glossary#">source</a>:</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>
<p><a href="/glossary#">source</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateWebUiPropsRequest
*/
func (a *WebUiPropsAPIService) CreateWebUiProps(ctx context.Context) ApiCreateWebUiPropsRequest {
	return ApiCreateWebUiPropsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateWebUiProps200Response
func (a *WebUiPropsAPIService) CreateWebUiPropsExecute(r ApiCreateWebUiPropsRequest) (*CreateWebUiProps200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateWebUiProps200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebUiPropsAPIService.CreateWebUiProps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/management/webui_props"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createTransactionRequestCounterparty200ResponseAttributesInner == nil {
		return localVarReturnValue, nil, reportError("createTransactionRequestCounterparty200ResponseAttributesInner is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createTransactionRequestCounterparty200ResponseAttributesInner
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteWebUiPropsRequest struct {
	ctx context.Context
	ApiService *WebUiPropsAPIService
	webuipropname string
}

func (r ApiDeleteWebUiPropsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteWebUiPropsExecute(r)
}

/*
DeleteWebUiProps Delete WebUiProps

<p>Delete a WebUiProps specified by WEBUI_PROP_NAME.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>The property name will be converted to lowercase before deletion.</p>
<p>Returns 204 No Content on successful deletion.</p>
<p>This endpoint is idempotent - if the property does not exist, it still returns 204 No Content.</p>
<p>Requires the CanDeleteWebUiProps role.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">WEBUI_PROP_NAME</a>: WEBUI_PROP_NAME</p>
<p><strong>JSON response body fields:</strong></p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param webuipropname The WEBUIPROPNAME identifier
 @return ApiDeleteWebUiPropsRequest
*/
func (a *WebUiPropsAPIService) DeleteWebUiProps(ctx context.Context, webuipropname string) ApiDeleteWebUiPropsRequest {
	return ApiDeleteWebUiPropsRequest{
		ApiService: a,
		ctx: ctx,
		webuipropname: webuipropname,
	}
}

// Execute executes the request
func (a *WebUiPropsAPIService) DeleteWebUiPropsExecute(r ApiDeleteWebUiPropsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebUiPropsAPIService.DeleteWebUiProps")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/management/webui_props/{webuipropname}"
	localVarPath = strings.Replace(localVarPath, "{"+"webuipropname"+"}", url.PathEscape(parameterValueToString(r.webuipropname, "webuipropname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetWebUiPropRequest struct {
	ctx context.Context
	ApiService *WebUiPropsAPIService
	webuipropname string
}

func (r ApiGetWebUiPropRequest) Execute() (*GetWebUiProps200ResponseWebuiPropsInner, *http.Response, error) {
	return r.ApiService.GetWebUiPropExecute(r)
}

/*
GetWebUiProp Get WebUiProp by Name

<p>Get a single WebUiProp by name.</p>
<p>Properties with names starting with &quot;webui_&quot; can be stored in the database and managed via API.</p>
<p><strong>Data Sources:</strong></p>
<ol>
<li>
<p><strong>Explicit WebUiProps (Database)</strong>: Custom values created/updated via the API and stored in the database.</p>
</li>
<li>
<p><strong>Implicit WebUiProps (Configuration File)</strong>: Default values defined in the <code>sample.props.template</code> configuration file.</p>
</li>
</ol>
<p><strong>Response Fields:</strong></p>
<ul>
<li><code>name</code>: The property name</li>
<li><code>value</code>: The property value</li>
<li><code>webUiPropsId</code> (optional): UUID for database props, omitted for config props</li>
<li><code>source</code>: Either &quot;database&quot; (editable via API) or &quot;config&quot; (read-only from config file)</li>
</ul>
<p><strong>Query Parameter:</strong></p>
<ul>
<li><code>active</code> (optional, boolean string, default: &quot;false&quot;)</li>
<li>If <code>active=false</code> or omitted: Returns only explicit prop from the database (source=&quot;database&quot;)</li>
<li>If <code>active=true</code>: Returns explicit prop from database, or if not found, returns implicit (default) prop from configuration file (source=&quot;config&quot;)</li>
</ul>
<p><strong>Examples:</strong></p>
<p>Get database-stored prop only:<br />
<a href="http://127.0.0.1:8080/obp/v6.0.0/webui-props/webui_api_explorer_url">http://127.0.0.1:8080/obp/v6.0.0/webui-props/webui_api_explorer_url</a></p>
<p>Get database prop or fallback to default:<br />
<a href="http://127.0.0.1:8080/obp/v6.0.0/webui-props/webui_api_explorer_url?active=true">http://127.0.0.1:8080/obp/v6.0.0/webui-props/webui_api_explorer_url?active=true</a></p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">WEBUI_PROP_NAME</a>: WEBUI_PROP_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>
<p><a href="/glossary#">source</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param webuipropname The WEBUIPROPNAME identifier
 @return ApiGetWebUiPropRequest
*/
func (a *WebUiPropsAPIService) GetWebUiProp(ctx context.Context, webuipropname string) ApiGetWebUiPropRequest {
	return ApiGetWebUiPropRequest{
		ApiService: a,
		ctx: ctx,
		webuipropname: webuipropname,
	}
}

// Execute executes the request
//  @return GetWebUiProps200ResponseWebuiPropsInner
func (a *WebUiPropsAPIService) GetWebUiPropExecute(r ApiGetWebUiPropRequest) (*GetWebUiProps200ResponseWebuiPropsInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetWebUiProps200ResponseWebuiPropsInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebUiPropsAPIService.GetWebUiProp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/webui-props/{webuipropname}"
	localVarPath = strings.Replace(localVarPath, "{"+"webuipropname"+"}", url.PathEscape(parameterValueToString(r.webuipropname, "webuipropname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWebUiPropsRequest struct {
	ctx context.Context
	ApiService *WebUiPropsAPIService
}

func (r ApiGetWebUiPropsRequest) Execute() (*GetWebUiProps200Response, *http.Response, error) {
	return r.ApiService.GetWebUiPropsExecute(r)
}

/*
GetWebUiProps Get WebUiProps

<p>Get WebUiProps - properties that configure the Web UI behavior and appearance.</p>
<p>Properties with names starting with &quot;webui_&quot; can be stored in the database and managed via API.</p>
<p><strong>Data Sources:</strong></p>
<ol>
<li>
<p><strong>Explicit WebUiProps (Database)</strong>: Custom values created/updated via the API and stored in the database.</p>
</li>
<li>
<p><strong>Implicit WebUiProps (Configuration File)</strong>: Default values defined in the <code>sample.props.template</code> configuration file.</p>
</li>
</ol>
<p><strong>Response Fields:</strong></p>
<ul>
<li><code>name</code>: The property name</li>
<li><code>value</code>: The property value</li>
<li><code>webUiPropsId</code> (optional): UUID for database props, omitted for config props</li>
<li><code>source</code>: Either &quot;database&quot; (editable via API) or &quot;config&quot; (read-only from config file)</li>
</ul>
<p><strong>Query Parameter:</strong></p>
<ul>
<li><code>what</code> (optional, string, default: &quot;active&quot;)</li>
<li><code>active</code>: Returns one value per property name
<ul>
<li>If property exists in database: returns database value (source=&quot;database&quot;)</li>
<li>If property only in config file: returns config default value (source=&quot;config&quot;)</li>
</ul>
</li>
<li><code>database</code>: Returns ONLY properties explicitly stored in the database (source=&quot;database&quot;)</li>
<li><code>config</code>: Returns ONLY default properties from configuration file (source=&quot;config&quot;)</li>
</ul>
<p><strong>Examples:</strong></p>
<p>Get active props (database overrides config, one value per prop):<br />
<a href="http://127.0.0.1:8080/obp/v6.0.0/webui-props">http://127.0.0.1:8080/obp/v6.0.0/webui-props</a><br />
<a href="http://127.0.0.1:8080/obp/v6.0.0/webui-props?what=active">http://127.0.0.1:8080/obp/v6.0.0/webui-props?what=active</a></p>
<p>Get only database-stored props:<br />
<a href="http://127.0.0.1:8080/obp/v6.0.0/webui-props?what=database">http://127.0.0.1:8080/obp/v6.0.0/webui-props?what=database</a></p>
<p>Get only default props from configuration:<br />
<a href="http://127.0.0.1:8080/obp/v6.0.0/webui-props?what=config">http://127.0.0.1:8080/obp/v6.0.0/webui-props?what=config</a></p>
<p>For more details about WebUI Props, including how to set config file defaults and precedence order, see <a href="/glossary#webui_props">here</a>.</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#name"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p>
<p><a href="/glossary#"><strong>value</strong></a>: 5987953</p>
<p><a href="/glossary#">source</a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWebUiPropsRequest
*/
func (a *WebUiPropsAPIService) GetWebUiProps(ctx context.Context) ApiGetWebUiPropsRequest {
	return ApiGetWebUiPropsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetWebUiProps200Response
func (a *WebUiPropsAPIService) GetWebUiPropsExecute(r ApiGetWebUiPropsRequest) (*GetWebUiProps200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetWebUiProps200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebUiPropsAPIService.GetWebUiProps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/webui-props"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
