/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-25T12:23:21.276369  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SignalAPIService SignalAPI service
type SignalAPIService service

type ApiDeleteSignalChannelRequest struct {
	ctx context.Context
	ApiService *SignalAPIService
	channelname string
}

func (r ApiDeleteSignalChannelRequest) Execute() (*DeleteSignalChannel200Response, *http.Response, error) {
	return r.ApiService.DeleteSignalChannelExecute(r)
}

/*
DeleteSignalChannel Delete Signal Channel

<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery and coordination, but usable by any authenticated OBP consumer.<br />
Messages are ephemeral and will expire after the configured TTL (default 1 hour).</p>
<p>This endpoint deletes a signal channel and all its messages immediately.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>deleted</strong></a>: deleted</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiDeleteSignalChannelRequest
*/
func (a *SignalAPIService) DeleteSignalChannel(ctx context.Context, channelname string) ApiDeleteSignalChannelRequest {
	return ApiDeleteSignalChannelRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return DeleteSignalChannel200Response
func (a *SignalAPIService) DeleteSignalChannelExecute(r ApiDeleteSignalChannelRequest) (*DeleteSignalChannel200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteSignalChannel200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalAPIService.DeleteSignalChannel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSignalChannelInfoRequest struct {
	ctx context.Context
	ApiService *SignalAPIService
	channelname string
}

func (r ApiGetSignalChannelInfoRequest) Execute() (*GetSignalChannelInfo200Response, *http.Response, error) {
	return r.ApiService.GetSignalChannelInfoExecute(r)
}

/*
GetSignalChannelInfo Get Signal Channel Info

<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery and coordination, but usable by any authenticated OBP consumer.<br />
Messages are ephemeral and will expire after the configured TTL (default 1 hour).</p>
<p>This endpoint returns metadata about a signal channel including the current message count and remaining TTL in seconds.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>message_count</strong></a>: message_count</p>
<p><a href="/glossary#"><strong>ttl_seconds</strong></a>: ttl_seconds</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiGetSignalChannelInfoRequest
*/
func (a *SignalAPIService) GetSignalChannelInfo(ctx context.Context, channelname string) ApiGetSignalChannelInfoRequest {
	return ApiGetSignalChannelInfoRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return GetSignalChannelInfo200Response
func (a *SignalAPIService) GetSignalChannelInfoExecute(r ApiGetSignalChannelInfoRequest) (*GetSignalChannelInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSignalChannelInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalAPIService.GetSignalChannelInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}/info"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSignalChannelsRequest struct {
	ctx context.Context
	ApiService *SignalAPIService
}

func (r ApiGetSignalChannelsRequest) Execute() (*GetSignalChannels200Response, *http.Response, error) {
	return r.ApiService.GetSignalChannelsExecute(r)
}

/*
GetSignalChannels List Signal Channels

<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery and coordination, but usable by any authenticated OBP consumer.<br />
Messages are ephemeral and will expire after the configured TTL (default 1 hour).</p>
<p>This endpoint lists active signal channels.<br />
Only channels that contain at least one broadcast message (no to_user_id) are listed.<br />
Private-only channels are not shown.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>channels</strong></a>: channels</p>
<p><a href="/glossary#"><strong>message_count</strong></a>: message_count</p>
<p><a href="/glossary#"><strong>ttl_seconds</strong></a>: ttl_seconds</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSignalChannelsRequest
*/
func (a *SignalAPIService) GetSignalChannels(ctx context.Context) ApiGetSignalChannelsRequest {
	return ApiGetSignalChannelsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSignalChannels200Response
func (a *SignalAPIService) GetSignalChannelsExecute(r ApiGetSignalChannelsRequest) (*GetSignalChannels200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSignalChannels200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalAPIService.GetSignalChannels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSignalMessagesRequest struct {
	ctx context.Context
	ApiService *SignalAPIService
	channelname string
}

func (r ApiGetSignalMessagesRequest) Execute() (*GetSignalMessages200Response, *http.Response, error) {
	return r.ApiService.GetSignalMessagesExecute(r)
}

/*
GetSignalMessages Get Signal Messages

<p>Fetch messages from a signal channel with offset/limit pagination.</p>
<p>Signal channels provide short-lived, Redis-backed messaging designed for AI agent discovery<br />
and coordination, but usable by any authenticated OBP consumer.</p>
<p>Messages are returned oldest-first.</p>
<p>Privacy filtering is applied server-side: you will only see broadcast messages (no to_user_id)<br />
and private messages addressed to you (to_user_id matches your user ID) or sent by you.</p>
<p>Use the offset parameter to poll for new messages by tracking your position.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>has_more</strong></a>: has_more</p>
<p><a href="/glossary#"><strong>message_id</strong></a>: message_id</p>
<p><a href="/glossary#"><strong>message_type</strong></a>: message_type</p>
<p><a href="/glossary#messages"><strong>messages</strong></a>:</p>
<p><a href="/glossary#payload"><strong>payload</strong></a>: payload</p>
<p><a href="/glossary#"><strong>sender_consumer_id</strong></a>: sender_consumer_id</p>
<p><a href="/glossary#"><strong>sender_user_id</strong></a>: sender_user_id</p>
<p><a href="/glossary#"><strong>timestamp</strong></a>: timestamp</p>
<p><a href="/glossary#"><strong>total_count</strong></a>: total_count</p>
<p><a href="/glossary#">to_user_id</a>: to_user_id</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiGetSignalMessagesRequest
*/
func (a *SignalAPIService) GetSignalMessages(ctx context.Context, channelname string) ApiGetSignalMessagesRequest {
	return ApiGetSignalMessagesRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return GetSignalMessages200Response
func (a *SignalAPIService) GetSignalMessagesExecute(r ApiGetSignalMessagesRequest) (*GetSignalMessages200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSignalMessages200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalAPIService.GetSignalMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSignalStatsRequest struct {
	ctx context.Context
	ApiService *SignalAPIService
}

func (r ApiGetSignalStatsRequest) Execute() (*GetSignalStats200Response, *http.Response, error) {
	return r.ApiService.GetSignalStatsExecute(r)
}

/*
GetSignalStats Get Signal Channel Stats

<p>Returns statistics for all signal channels, including private-only channels.</p>
<p>Unlike the List Signal Channels endpoint, this does not filter out private-only channels.<br />
It provides a complete view of all active channels with message counts and TTL info.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>channels</strong></a>: channels</p>
<p><a href="/glossary#"><strong>message_count</strong></a>: message_count</p>
<p><a href="/glossary#"><strong>total_channels</strong></a>: total_channels</p>
<p><a href="/glossary#"><strong>total_messages</strong></a>: total_messages</p>
<p><a href="/glossary#"><strong>ttl_seconds</strong></a>: ttl_seconds</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSignalStatsRequest
*/
func (a *SignalAPIService) GetSignalStats(ctx context.Context) ApiGetSignalStatsRequest {
	return ApiGetSignalStatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSignalStats200Response
func (a *SignalAPIService) GetSignalStatsExecute(r ApiGetSignalStatsRequest) (*GetSignalStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSignalStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalAPIService.GetSignalStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPublishSignalMessageRequest struct {
	ctx context.Context
	ApiService *SignalAPIService
	channelname string
	publishSignalMessageRequest *PublishSignalMessageRequest
}

// Request body
func (r ApiPublishSignalMessageRequest) PublishSignalMessageRequest(publishSignalMessageRequest PublishSignalMessageRequest) ApiPublishSignalMessageRequest {
	r.publishSignalMessageRequest = &publishSignalMessageRequest
	return r
}

func (r ApiPublishSignalMessageRequest) Execute() (*PublishSignalMessage200Response, *http.Response, error) {
	return r.ApiService.PublishSignalMessageExecute(r)
}

/*
PublishSignalMessage Publish Signal Message

<p>Publish a message to a signal channel.</p>
<p>Signal channels provide short-lived, Redis-backed messaging for lightweight coordination between<br />
AI agents and other OBP consumers. Messages are not persisted to a database.</p>
<p>Channels are auto-created on first publish and expire after a configurable TTL (default 1 hour).<br />
Messages are capped at a configurable maximum per channel (default 1000).</p>
<p>The payload field accepts any valid JSON content.</p>
<p>Set to_user_id to send a private message visible only to the sender and recipient.<br />
Leave to_user_id empty for a broadcast message visible to all channel readers.</p>
<p>Authentication is Required.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CHANNEL_NAME</a>: CHANNEL_NAME</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#payload"><strong>payload</strong></a>: payload</p>
<p><a href="/glossary#">message_type</a>: message_type</p>
<p><a href="/glossary#">to_user_id</a>: to_user_id</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>channel_message_count</strong></a>: channel_message_count</p>
<p><a href="/glossary#"><strong>channel_name</strong></a>: channel_name</p>
<p><a href="/glossary#"><strong>message_id</strong></a>: message_id</p>
<p><a href="/glossary#"><strong>timestamp</strong></a>: timestamp</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param channelname The CHANNELNAME identifier
 @return ApiPublishSignalMessageRequest
*/
func (a *SignalAPIService) PublishSignalMessage(ctx context.Context, channelname string) ApiPublishSignalMessageRequest {
	return ApiPublishSignalMessageRequest{
		ApiService: a,
		ctx: ctx,
		channelname: channelname,
	}
}

// Execute executes the request
//  @return PublishSignalMessage200Response
func (a *SignalAPIService) PublishSignalMessageExecute(r ApiPublishSignalMessageRequest) (*PublishSignalMessage200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublishSignalMessage200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignalAPIService.PublishSignalMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/signal/channels/{channelname}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"channelname"+"}", url.PathEscape(parameterValueToString(r.channelname, "channelname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.publishSignalMessageRequest == nil {
		return localVarReturnValue, nil, reportError("publishSignalMessageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.publishSignalMessageRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
