/*
Open Bank Project API v6.0.0

The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-25T12:23:21.276369  For more information, visit: https://github.com/OpenBankProject/OBP-API

API version: 6.0.0
Contact: contact@tesobe.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package obp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OIDCAPIService OIDCAPI service
type OIDCAPIService service

type ApiGetOAuth2ServerJWKsURIsRequest struct {
	ctx context.Context
	ApiService *OIDCAPIService
}

func (r ApiGetOAuth2ServerJWKsURIsRequest) Execute() (*GetOAuth2ServerJWKsURIs200Response, *http.Response, error) {
	return r.ApiService.GetOAuth2ServerJWKsURIsExecute(r)
}

/*
GetOAuth2ServerJWKsURIs Get JSON Web Key (JWK) URIs

<p>Get the OAuth2 server's public JSON Web Key (JWK) URIs.<br />
It is required by client applications to validate ID tokens, self-contained access tokens and other issued objects.</p>
<p>User Authentication is Optional. The User need not be logged in.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#jwks_uri"><strong>jwks_uri</strong></a>:</p>
<p><a href="/glossary#jwks_uris"><strong>jwks_uris</strong></a>:</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOAuth2ServerJWKsURIsRequest
*/
func (a *OIDCAPIService) GetOAuth2ServerJWKsURIs(ctx context.Context) ApiGetOAuth2ServerJWKsURIsRequest {
	return ApiGetOAuth2ServerJWKsURIsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetOAuth2ServerJWKsURIs200Response
func (a *OIDCAPIService) GetOAuth2ServerJWKsURIsExecute(r ApiGetOAuth2ServerJWKsURIsRequest) (*GetOAuth2ServerJWKsURIs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetOAuth2ServerJWKsURIs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OIDCAPIService.GetOAuth2ServerJWKsURIs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/jwks-uris"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetObpConnectorLoopbackRequest struct {
	ctx context.Context
	ApiService *OIDCAPIService
}

func (r ApiGetObpConnectorLoopbackRequest) Execute() (*GetObpConnectorLoopback200Response, *http.Response, error) {
	return r.ApiService.GetObpConnectorLoopbackExecute(r)
}

/*
GetObpConnectorLoopback Get Connector Status (Loopback)

<p>This endpoint makes a call to the Connector to check the backend transport is reachable. (Deprecated)</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#connector_version"><strong>connector_version</strong></a>:</p>
<p><a href="/glossary#duration_time"><strong>duration_time</strong></a>: 60</p>
<p><a href="/glossary#"><strong>git_commit</strong></a>: 59623811dd8a41f6ffe67be46954eee11913dc28</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetObpConnectorLoopbackRequest
*/
func (a *OIDCAPIService) GetObpConnectorLoopback(ctx context.Context) ApiGetObpConnectorLoopbackRequest {
	return ApiGetObpConnectorLoopbackRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetObpConnectorLoopback200Response
func (a *OIDCAPIService) GetObpConnectorLoopbackExecute(r ApiGetObpConnectorLoopbackRequest) (*GetObpConnectorLoopback200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetObpConnectorLoopback200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OIDCAPIService.GetObpConnectorLoopback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v3.1.0/connector/loopback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOidcClientRequest struct {
	ctx context.Context
	ApiService *OIDCAPIService
	clientid string
}

func (r ApiGetOidcClientRequest) Execute() (*GetOidcClient200Response, *http.Response, error) {
	return r.ApiService.GetOidcClientExecute(r)
}

/*
GetOidcClient Get OIDC Client

<p>Gets an OIDC/OAuth2 client's metadata by client_id.</p>
<p>Returns client information including name, consumer_id, redirect_uris, and enabled status.<br />
This endpoint does not verify the client secret - use POST /oidc/clients/verify for authentication.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>This endpoint supports <strong>User OR Application</strong> authentication. You can authenticate either as a logged-in User (with Entitlements) or as an Application using a Consumer Key (with Scopes).<br />
See [here](/glossary#API.Endpoint Auth Modes) for more information.</p>
<p>This endpoint supports <strong>User OR Application</strong> authentication. You can authenticate either as a logged-in User (with Entitlements) or as an Application using a Consumer Key (with Scopes).<br />
See [here](/glossary#API.Endpoint Auth Modes) for more information.</p>
<p>This endpoint supports <strong>User OR Application</strong> authentication. You can authenticate either as a logged-in User (with Entitlements) or as an Application using a Consumer Key (with Scopes).<br />
See [here](/glossary#API.Endpoint Auth Modes) for more information.</p>
<p><strong>URL Parameters:</strong></p>
<p><a href="/glossary#">CLIENT_ID</a>: CLIENT_ID</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>client_id</strong></a>: client_id</p>
<p><a href="/glossary#"><strong>client_name</strong></a>: client_name</p>
<p><a href="/glossary#"><strong>consumer_id</strong></a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p>
<p><a href="/glossary#enabled"><strong>enabled</strong></a>: false</p>
<p><a href="/glossary#"><strong>redirect_uris</strong></a>: redirect_uris</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientid The CLIENTID identifier
 @return ApiGetOidcClientRequest
*/
func (a *OIDCAPIService) GetOidcClient(ctx context.Context, clientid string) ApiGetOidcClientRequest {
	return ApiGetOidcClientRequest{
		ApiService: a,
		ctx: ctx,
		clientid: clientid,
	}
}

// Execute executes the request
//  @return GetOidcClient200Response
func (a *OIDCAPIService) GetOidcClientExecute(r ApiGetOidcClientRequest) (*GetOidcClient200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetOidcClient200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OIDCAPIService.GetOidcClient")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/oidc/clients/{clientid}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientid"+"}", url.PathEscape(parameterValueToString(r.clientid, "clientid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyOidcClientRequest struct {
	ctx context.Context
	ApiService *OIDCAPIService
	verifyOidcClientRequest *VerifyOidcClientRequest
}

// Request body
func (r ApiVerifyOidcClientRequest) VerifyOidcClientRequest(verifyOidcClientRequest VerifyOidcClientRequest) ApiVerifyOidcClientRequest {
	r.verifyOidcClientRequest = &verifyOidcClientRequest
	return r
}

func (r ApiVerifyOidcClientRequest) Execute() (*VerifyOidcClient200Response, *http.Response, error) {
	return r.ApiService.VerifyOidcClientExecute(r)
}

/*
VerifyOidcClient Verify OIDC Client

<p>Verifies an OIDC/OAuth2 client's credentials.</p>
<p>Returns <code>valid: true</code> if the client_id and client_secret match an active consumer.<br />
Also returns the consumer_id and redirect_uris for use by the OIDC provider.</p>
<p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p>
<p>This endpoint supports <strong>User OR Application</strong> authentication. You can authenticate either as a logged-in User (with Entitlements) or as an Application using a Consumer Key (with Scopes).<br />
See [here](/glossary#API.Endpoint Auth Modes) for more information.</p>
<p>This endpoint supports <strong>User OR Application</strong> authentication. You can authenticate either as a logged-in User (with Entitlements) or as an Application using a Consumer Key (with Scopes).<br />
See [here](/glossary#API.Endpoint Auth Modes) for more information.</p>
<p>This endpoint supports <strong>User OR Application</strong> authentication. You can authenticate either as a logged-in User (with Entitlements) or as an Application using a Consumer Key (with Scopes).<br />
See [here](/glossary#API.Endpoint Auth Modes) for more information.</p>
<p><strong>JSON request body fields:</strong></p>
<p><a href="/glossary#"><strong>client_id</strong></a>: client_id</p>
<p><a href="/glossary#"><strong>client_secret</strong></a>: client_secret</p>
<p><strong>JSON response body fields:</strong></p>
<p><a href="/glossary#"><strong>valid</strong></a>: valid</p>
<p><a href="/glossary#">client_id</a>: client_id</p>
<p><a href="/glossary#">consumer_id</a>: 7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh</p>
<p><a href="/glossary#">redirect_uris</a>: redirect_uris</p>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVerifyOidcClientRequest
*/
func (a *OIDCAPIService) VerifyOidcClient(ctx context.Context) ApiVerifyOidcClientRequest {
	return ApiVerifyOidcClientRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VerifyOidcClient200Response
func (a *OIDCAPIService) VerifyOidcClientExecute(r ApiVerifyOidcClientRequest) (*VerifyOidcClient200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VerifyOidcClient200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OIDCAPIService.VerifyOidcClient")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/obp/v6.0.0/oidc/clients/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.verifyOidcClientRequest == nil {
		return localVarReturnValue, nil, reportError("verifyOidcClientRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.verifyOidcClientRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["DirectLogin"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["DirectLogin"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
