=begin
#Open Bank Project API v6.0.0

#The Open Bank Project API v6.0.0 provides standardized banking APIs.  This specification was automatically generated from the OBP API codebase. Generated on: 2026-03-25T12:23:21.276369  For more information, visit: https://github.com/OpenBankProject/OBP-API

The version of the OpenAPI document: 6.0.0
Contact: contact@tesobe.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenBankProject
  class EndpointMappingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Bank Level Endpoint Mapping
    # <p>Create an Bank Level Endpoint Mapping.</p> <p>Note: at moment only support the dynamic endpoints</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param bankid [String] The BANKID identifier
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200ResponseEndpointMappingsInner]
    def create_bank_level_endpoint_mapping(bankid, create_endpoint_mapping_request, opts = {})
      data, _status_code, _headers = create_bank_level_endpoint_mapping_with_http_info(bankid, create_endpoint_mapping_request, opts)
      data
    end

    # Create Bank Level Endpoint Mapping
    # &lt;p&gt;Create an Bank Level Endpoint Mapping.&lt;/p&gt; &lt;p&gt;Note: at moment only support the dynamic endpoints&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200ResponseEndpointMappingsInner, Integer, Hash)>] GetAllEndpointMappings200ResponseEndpointMappingsInner data, response status code and response headers
    def create_bank_level_endpoint_mapping_with_http_info(bankid, create_endpoint_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.create_bank_level_endpoint_mapping ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling EndpointMappingApi.create_bank_level_endpoint_mapping"
      end
      # verify the required parameter 'create_endpoint_mapping_request' is set
      if @api_client.config.client_side_validation && create_endpoint_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_endpoint_mapping_request' when calling EndpointMappingApi.create_bank_level_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/endpoint-mappings'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_endpoint_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200ResponseEndpointMappingsInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.create_bank_level_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#create_bank_level_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Endpoint Mapping
    # <p>Create an Endpoint Mapping.</p> <p>Note: at moment only support the dynamic endpoints</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON request body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200ResponseEndpointMappingsInner]
    def create_endpoint_mapping(create_endpoint_mapping_request, opts = {})
      data, _status_code, _headers = create_endpoint_mapping_with_http_info(create_endpoint_mapping_request, opts)
      data
    end

    # Create Endpoint Mapping
    # &lt;p&gt;Create an Endpoint Mapping.&lt;/p&gt; &lt;p&gt;Note: at moment only support the dynamic endpoints&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON request body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200ResponseEndpointMappingsInner, Integer, Hash)>] GetAllEndpointMappings200ResponseEndpointMappingsInner data, response status code and response headers
    def create_endpoint_mapping_with_http_info(create_endpoint_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.create_endpoint_mapping ...'
      end
      # verify the required parameter 'create_endpoint_mapping_request' is set
      if @api_client.config.client_side_validation && create_endpoint_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_endpoint_mapping_request' when calling EndpointMappingApi.create_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/endpoint-mappings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_endpoint_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200ResponseEndpointMappingsInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.create_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#create_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Bank Level Endpoint Mapping
    # <p>Delete a Bank Level Endpoint Mapping.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#\">ENDPOINT_MAPPING_ID</a>: ENDPOINT_MAPPING_ID</p> <p><strong>JSON response body fields:</strong></p> 
    # @param bankid [String] The BANKID identifier
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bank_level_endpoint_mapping(bankid, endpointmappingid, opts = {})
      delete_bank_level_endpoint_mapping_with_http_info(bankid, endpointmappingid, opts)
      nil
    end

    # Delete Bank Level Endpoint Mapping
    # &lt;p&gt;Delete a Bank Level Endpoint Mapping.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;ENDPOINT_MAPPING_ID&lt;/a&gt;: ENDPOINT_MAPPING_ID&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bank_level_endpoint_mapping_with_http_info(bankid, endpointmappingid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.delete_bank_level_endpoint_mapping ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling EndpointMappingApi.delete_bank_level_endpoint_mapping"
      end
      # verify the required parameter 'endpointmappingid' is set
      if @api_client.config.client_side_validation && endpointmappingid.nil?
        fail ArgumentError, "Missing the required parameter 'endpointmappingid' when calling EndpointMappingApi.delete_bank_level_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/endpoint-mappings/{endpointmappingid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'endpointmappingid' + '}', CGI.escape(endpointmappingid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.delete_bank_level_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#delete_bank_level_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Endpoint Mapping
    # <p>Delete a Endpoint Mapping.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">ENDPOINT_MAPPING_ID</a>: ENDPOINT_MAPPING_ID</p> <p><strong>JSON response body fields:</strong></p> 
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_endpoint_mapping(endpointmappingid, opts = {})
      delete_endpoint_mapping_with_http_info(endpointmappingid, opts)
      nil
    end

    # Delete Endpoint Mapping
    # &lt;p&gt;Delete a Endpoint Mapping.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;ENDPOINT_MAPPING_ID&lt;/a&gt;: ENDPOINT_MAPPING_ID&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; 
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_endpoint_mapping_with_http_info(endpointmappingid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.delete_endpoint_mapping ...'
      end
      # verify the required parameter 'endpointmappingid' is set
      if @api_client.config.client_side_validation && endpointmappingid.nil?
        fail ArgumentError, "Missing the required parameter 'endpointmappingid' when calling EndpointMappingApi.delete_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/endpoint-mappings/{endpointmappingid}'.sub('{' + 'endpointmappingid' + '}', CGI.escape(endpointmappingid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.delete_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#delete_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all Bank Level Endpoint Mappings
    # <p>Get all Bank Level Endpoint Mappings.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param bankid [String] The BANKID identifier
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200Response]
    def get_all_bank_level_endpoint_mappings(bankid, opts = {})
      data, _status_code, _headers = get_all_bank_level_endpoint_mappings_with_http_info(bankid, opts)
      data
    end

    # Get all Bank Level Endpoint Mappings
    # &lt;p&gt;Get all Bank Level Endpoint Mappings.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200Response, Integer, Hash)>] GetAllEndpointMappings200Response data, response status code and response headers
    def get_all_bank_level_endpoint_mappings_with_http_info(bankid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.get_all_bank_level_endpoint_mappings ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling EndpointMappingApi.get_all_bank_level_endpoint_mappings"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/endpoint-mappings'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.get_all_bank_level_endpoint_mappings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#get_all_bank_level_endpoint_mappings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all Endpoint Mappings
    # <p>Get all Endpoint Mappings.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200Response]
    def get_all_endpoint_mappings(opts = {})
      data, _status_code, _headers = get_all_endpoint_mappings_with_http_info(opts)
      data
    end

    # Get all Endpoint Mappings
    # &lt;p&gt;Get all Endpoint Mappings.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200Response, Integer, Hash)>] GetAllEndpointMappings200Response data, response status code and response headers
    def get_all_endpoint_mappings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.get_all_endpoint_mappings ...'
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/endpoint-mappings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.get_all_endpoint_mappings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#get_all_endpoint_mappings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bank Level Endpoint Mapping
    # <p>Get an Bank Level Endpoint Mapping by ENDPOINT_MAPPING_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#\">ENDPOINT_MAPPING_ID</a>: ENDPOINT_MAPPING_ID</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param bankid [String] The BANKID identifier
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200ResponseEndpointMappingsInner]
    def get_bank_level_endpoint_mapping(bankid, endpointmappingid, opts = {})
      data, _status_code, _headers = get_bank_level_endpoint_mapping_with_http_info(bankid, endpointmappingid, opts)
      data
    end

    # Get Bank Level Endpoint Mapping
    # &lt;p&gt;Get an Bank Level Endpoint Mapping by ENDPOINT_MAPPING_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;ENDPOINT_MAPPING_ID&lt;/a&gt;: ENDPOINT_MAPPING_ID&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200ResponseEndpointMappingsInner, Integer, Hash)>] GetAllEndpointMappings200ResponseEndpointMappingsInner data, response status code and response headers
    def get_bank_level_endpoint_mapping_with_http_info(bankid, endpointmappingid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.get_bank_level_endpoint_mapping ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling EndpointMappingApi.get_bank_level_endpoint_mapping"
      end
      # verify the required parameter 'endpointmappingid' is set
      if @api_client.config.client_side_validation && endpointmappingid.nil?
        fail ArgumentError, "Missing the required parameter 'endpointmappingid' when calling EndpointMappingApi.get_bank_level_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/endpoint-mappings/{endpointmappingid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'endpointmappingid' + '}', CGI.escape(endpointmappingid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200ResponseEndpointMappingsInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.get_bank_level_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#get_bank_level_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Endpoint Mapping by Id
    # <p>Get an Endpoint Mapping by ENDPOINT_MAPPING_ID.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">ENDPOINT_MAPPING_ID</a>: ENDPOINT_MAPPING_ID</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200ResponseEndpointMappingsInner]
    def get_endpoint_mapping(endpointmappingid, opts = {})
      data, _status_code, _headers = get_endpoint_mapping_with_http_info(endpointmappingid, opts)
      data
    end

    # Get Endpoint Mapping by Id
    # &lt;p&gt;Get an Endpoint Mapping by ENDPOINT_MAPPING_ID.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;ENDPOINT_MAPPING_ID&lt;/a&gt;: ENDPOINT_MAPPING_ID&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200ResponseEndpointMappingsInner, Integer, Hash)>] GetAllEndpointMappings200ResponseEndpointMappingsInner data, response status code and response headers
    def get_endpoint_mapping_with_http_info(endpointmappingid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.get_endpoint_mapping ...'
      end
      # verify the required parameter 'endpointmappingid' is set
      if @api_client.config.client_side_validation && endpointmappingid.nil?
        fail ArgumentError, "Missing the required parameter 'endpointmappingid' when calling EndpointMappingApi.get_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/endpoint-mappings/{endpointmappingid}'.sub('{' + 'endpointmappingid' + '}', CGI.escape(endpointmappingid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200ResponseEndpointMappingsInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.get_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#get_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Bank Level Endpoint Mapping
    # <p>Update an Bank Level Endpoint Mapping.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#Bank.bank_id\">BANK_ID</a>: gh.29.uk</p> <p><a href=\"/glossary#\">ENDPOINT_MAPPING_ID</a>: ENDPOINT_MAPPING_ID</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param bankid [String] The BANKID identifier
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200ResponseEndpointMappingsInner]
    def update_bank_level_endpoint_mapping(bankid, endpointmappingid, create_endpoint_mapping_request, opts = {})
      data, _status_code, _headers = update_bank_level_endpoint_mapping_with_http_info(bankid, endpointmappingid, create_endpoint_mapping_request, opts)
      data
    end

    # Update Bank Level Endpoint Mapping
    # &lt;p&gt;Update an Bank Level Endpoint Mapping.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#Bank.bank_id\&quot;&gt;BANK_ID&lt;/a&gt;: gh.29.uk&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;ENDPOINT_MAPPING_ID&lt;/a&gt;: ENDPOINT_MAPPING_ID&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param bankid [String] The BANKID identifier
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200ResponseEndpointMappingsInner, Integer, Hash)>] GetAllEndpointMappings200ResponseEndpointMappingsInner data, response status code and response headers
    def update_bank_level_endpoint_mapping_with_http_info(bankid, endpointmappingid, create_endpoint_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.update_bank_level_endpoint_mapping ...'
      end
      # verify the required parameter 'bankid' is set
      if @api_client.config.client_side_validation && bankid.nil?
        fail ArgumentError, "Missing the required parameter 'bankid' when calling EndpointMappingApi.update_bank_level_endpoint_mapping"
      end
      # verify the required parameter 'endpointmappingid' is set
      if @api_client.config.client_side_validation && endpointmappingid.nil?
        fail ArgumentError, "Missing the required parameter 'endpointmappingid' when calling EndpointMappingApi.update_bank_level_endpoint_mapping"
      end
      # verify the required parameter 'create_endpoint_mapping_request' is set
      if @api_client.config.client_side_validation && create_endpoint_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_endpoint_mapping_request' when calling EndpointMappingApi.update_bank_level_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/banks/{bankid}/endpoint-mappings/{endpointmappingid}'.sub('{' + 'bankid' + '}', CGI.escape(bankid.to_s)).sub('{' + 'endpointmappingid' + '}', CGI.escape(endpointmappingid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_endpoint_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200ResponseEndpointMappingsInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.update_bank_level_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#update_bank_level_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Endpoint Mapping
    # <p>Update an Endpoint Mapping.</p> <p>User Authentication is Required. The User must be logged in. The Application must also be authenticated.</p> <p><strong>URL Parameters:</strong></p> <p><a href=\"/glossary#\">ENDPOINT_MAPPING_ID</a>: ENDPOINT_MAPPING_ID</p> <p><strong>JSON response body fields:</strong></p> <p><a href=\"/glossary#name\"><strong>name</strong></a>: ACCOUNT_MANAGEMENT_FEE</p> 
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [GetAllEndpointMappings200ResponseEndpointMappingsInner]
    def update_endpoint_mapping(endpointmappingid, create_endpoint_mapping_request, opts = {})
      data, _status_code, _headers = update_endpoint_mapping_with_http_info(endpointmappingid, create_endpoint_mapping_request, opts)
      data
    end

    # Update Endpoint Mapping
    # &lt;p&gt;Update an Endpoint Mapping.&lt;/p&gt; &lt;p&gt;User Authentication is Required. The User must be logged in. The Application must also be authenticated.&lt;/p&gt; &lt;p&gt;&lt;strong&gt;URL Parameters:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#\&quot;&gt;ENDPOINT_MAPPING_ID&lt;/a&gt;: ENDPOINT_MAPPING_ID&lt;/p&gt; &lt;p&gt;&lt;strong&gt;JSON response body fields:&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;&lt;a href&#x3D;\&quot;/glossary#name\&quot;&gt;&lt;strong&gt;name&lt;/strong&gt;&lt;/a&gt;: ACCOUNT_MANAGEMENT_FEE&lt;/p&gt; 
    # @param endpointmappingid [String] The ENDPOINTMAPPINGID identifier
    # @param create_endpoint_mapping_request [CreateEndpointMappingRequest] Request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllEndpointMappings200ResponseEndpointMappingsInner, Integer, Hash)>] GetAllEndpointMappings200ResponseEndpointMappingsInner data, response status code and response headers
    def update_endpoint_mapping_with_http_info(endpointmappingid, create_endpoint_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointMappingApi.update_endpoint_mapping ...'
      end
      # verify the required parameter 'endpointmappingid' is set
      if @api_client.config.client_side_validation && endpointmappingid.nil?
        fail ArgumentError, "Missing the required parameter 'endpointmappingid' when calling EndpointMappingApi.update_endpoint_mapping"
      end
      # verify the required parameter 'create_endpoint_mapping_request' is set
      if @api_client.config.client_side_validation && create_endpoint_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_endpoint_mapping_request' when calling EndpointMappingApi.update_endpoint_mapping"
      end
      # resource path
      local_var_path = '/obp/v4.0.0/management/endpoint-mappings/{endpointmappingid}'.sub('{' + 'endpointmappingid' + '}', CGI.escape(endpointmappingid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_endpoint_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllEndpointMappings200ResponseEndpointMappingsInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'GatewayLogin', 'DirectLogin']

      new_options = opts.merge(
        :operation => :"EndpointMappingApi.update_endpoint_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointMappingApi#update_endpoint_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
